Source: ros-eloquent-popf
Section: misc
Priority: optional
Maintainer: Francisco Martin <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), bison, coinor-libcbc-dev, coinor-libcgl-dev, coinor-libclp-dev, coinor-libcoinutils-dev, flex, ros-eloquent-ament-cmake, ros-eloquent-rclcpp, ros-eloquent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-popf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bison, coinor-libcbc-dev, coinor-libcgl-dev, coinor-libclp-dev, coinor-libcoinutils-dev, flex, ros-eloquent-rclcpp, ros-eloquent-ros-workspace
Description: The POPF package
